llama-index==0.12.15
llama-index-llms-google-genai
llama-index-llms-bedrock
llama-index-embeddings-bedrock
llama-index-vector-stores-mongodb
llama-index-storage-docstore-mongodb 
pymongo
google-generativeai
python-docx==1.1.0
python-dotenv==1.0.0
docx2txt
jaconv
matplotlib
qdrant_client
llama-index-vector-stores-qdrant
langchain-experimental
uvicorn
fastapi
langgraph
langchain
langchain-google-genai